html{
	min-height: 100%;
}
body{
	background: #19191b no-repeat;
    background-image: url("hero-bg.jpg");
    background-size:cover;
    font-family: Times;
    min-height: 100%;
    color: white;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width:500px){
   img{
   	width:100%;
   }

}
.navbg{

		background-color: rgba(0,0,0,0.6);
		max-height: 100%;
    
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.navbar-default .navbar-brand {
    color: white;
    font-family: Times;
    font-size: 3rem;
}

.ulfnt{
	font-size: 3rem;
	color:white;
}

.subscript{
		font-size: 1.8rem;
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: 'Bellefair', serif; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5000ff;
}


.my_photo{
	/*margin: 20% 30%;*/
	/*margin*/
	border: 4px solid black;
	vertical-align: baseline;
	max-width: 100%;
	width: 30em;
	height:auto;
	/*min-height: 40%;
	max-height: 100%;*/
	text-align: center;
	margin-top: 8em;
	border-radius: 25%;
	margin-bottom: 10px;

}

.h1mod{
	color: white;
	font-family:cursive;
	font-size: 2.4em;
}

.h2mod{
	color: white;
	font-family:cursive;
	font-size: 1.5em;
}


p{
	padding-top: 10px;
	font-family: 'Kavivanar', cursive;
	font-size: 1.7em;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.8em;
	background-color: rgba(0,0,0,0.6);

}

#About{
	background-color: #aaaaaa;
	font-size: 3em;
	color: black;

}
#Skills{
	background-color: #aaaaaa;
	font-size: 3em;
	color: black;

}

#intro{
	font-size: 2em;
	color: brown;
	
}

#Projects{
	background-color: #aaaaaa;
	font-size: 3em;
	color: black;
}

#Contact {
	background-color: #aaaaaa;
	font-size: 3em;
	color: black;
}
.rem_app{

	
	border: 4px solid black;
	vertical-align: baseline;
	max-width: 100%;
	width: 30em;
	height:auto;
	margin-top: 5em;
	margin-left: 5em
	margin-bottom: 10px;

}
.rem_h{
	display: inline-block;
	color: #2C3Eff;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 3.5em;
}

.hangman2{

	/*margin-left:35%;*/
	border: 4px solid black;
	vertical-align: baseline;
	max-width: 100%;
	width: 30em;
	height:auto;
	margin-top: 5em;
	margin-bottom: 10px;
	background-color: white;
}

.impcontact{
				background: transparent;
				min-height: 30px; 	
				min-width: 60%;
				max-width: 100%;
				text-align: center;
				font-size: 2.6em;


}

.formbg{
	background-color: rgba(0,0,0,0.6);
}

#text_area{
	min-height: 300px;
}
.subbtn{

			min-height: 30px;
			min-width: 20%;
			text-align: center;
			font-size: 3em;
			color: black;
			display: inline-block;
			border-radius: 30px;
}

.subbtn:hover{
	background-color: black;
	color: white;
}

.footbg{
	background-color: rgba(0,0,0,0.6);
}

